<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="srx.awesome.code.hdyl.dao.DicMapper" >
  <resultMap id="BaseResultMap" type="srx.awesome.code.hdyl.bean.Dic" >
    <constructor >
      <idArg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <idArg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="weight" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    type, code, name, weight
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="srx.awesome.code.hdyl.bean.DicKey" >
    select 
    <include refid="Base_Column_List" />
    from dic
    where type = #{type,jdbcType=VARCHAR}
      and code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="srx.awesome.code.hdyl.bean.DicKey" >
    delete from dic
    where type = #{type,jdbcType=VARCHAR}
      and code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="srx.awesome.code.hdyl.bean.Dic" >
    insert into dic (type, code, name, 
      weight)
    values (#{type,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{weight,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="srx.awesome.code.hdyl.bean.Dic" >
    insert into dic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="weight != null" >
        weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="srx.awesome.code.hdyl.bean.Dic" >
    update dic
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
    </set>
    where type = #{type,jdbcType=VARCHAR}
      and code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="srx.awesome.code.hdyl.bean.Dic" >
    update dic
    set name = #{name,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=INTEGER}
    where type = #{type,jdbcType=VARCHAR}
      and code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>